html
    head
        title Agendamento
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'
        integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO'
        rel='stylesheet'
        id='bootstrap-css'
        crossorigin='anonymous')

    body
        .card.panel-default
            .card-header
                h3 Need a Doc - Agendamento
            .card-body
                p.text-primary #{message}

            .card-footer
